@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border;
}

.navbar-fixed {
    @apply fixed z-[99999] bg-[#FEFDF9] bg-opacity-70 backdrop-blur-sm dark:bg-opacity-50;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-darken;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}